[build]
command = "npx vite build"
publish = "dist"

[build.environment]
VITE_SUPABASE_URL = "https://ahpdojlajtfejmtjtwvr.supabase.co"
VITE_SUPABASE_ANON_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFocGRvamxhanRmZWptdGp0d3ZyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njc4OTQ2MjgsImV4cCI6MjA4MzQ3MDYyOH0.3EHVvsPFnDLm3AZVAm8AdpLIaW9IxLJ5at6VQNT82qk"

[[redirects]]
from = "/*"
to = "/index.html"
status = 200